global:
  accountNumber: "097916242697"
  awsRegion: "us-east-2"
  appId: 207972
  appName: ssr-example
  environment: beta
  developmentTeamEmail: RocketTechCCESystems  

  deployment:
    primary:
      replicaCount: 1
      weight: "100"
      image:
        - repository:  097916242697.dkr.ecr.us-east-2.amazonaws.com/eks-beta-208024-ssr_example_app
          tag: REPLACE

  healthCheck:
      path: /
      port: 8080

  environmentVariables:
    ASPNETCORE_ENVIRONMENT: beta

  service:
    enabled: true
    targetPort: 8080

  auth:
    internal:
    - namespace:
      name: scratch
      serviceaccounts:
      - name: "sleep"
        methods: ["*"]
        paths: ["/*"]
    external:
      - type: anonymous
        methods: ["*"]
        paths: ["/*"]

  externalIngress:
    enabled: true
    type: istio
    externalUrl: "ssr-example.beta.ccessr.foc.zone"

  egress:
    enabled: true
    hosts:
      foc: "*.foc.zone:443"
